@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="margin-top: 50px;">Welcome</h1>
    <a asp-controller="Bookings" asp-action="Index" class= "btn btn-primary" style="margin-right: 25px;">Make a booking</a>
    <a asp-controller="Movies1" asp-action="Index" class="btn btn-primary" style="margin-right: 25px;">Show Movies</a>
    <a asp-controller="Shows" asp-action="Index" class="btn btn-primary" style="margin-right: 25px;">View shows</a>
    <a class="btn btn-primary" style="margin-right: 25px;" href="#">Show made bookings</a>
</div>
